openapi: 3.0.3
info:
  title: ArmanVarzesh Microservices API
  description: |
    This document describes the REST API endpoints for ArmanVarzesh microservices.

    ## Authentication
    Most endpoints require JWT authentication via Bearer token in the Authorization header.

    ## Rate Limiting
    All endpoints are rate-limited to prevent abuse. See response headers for current limits.

    ## GraphQL Gateway
    For GraphQL queries and mutations, use the GraphQL Gateway at `/graphql`
  version: 1.0.0
  contact:
    name: ArmanVarzesh Team
    email: support@armanvarzesh.com
  license:
    name: Proprietary

servers:
  - url: https://api.armanvarzesh.com
    description: Production server
  - url: https://staging.armanvarzesh.com
    description: Staging server
  - url: http://localhost:3000
    description: Local development server

tags:
  - name: Health
    description: Health check and monitoring endpoints
  - name: Auth
    description: Authentication and authorization
  - name: Users
    description: User management
  - name: Coaches
    description: Coach management
  - name: Workouts
    description: Workout plans and exercises
  - name: Nutrition
    description: Nutrition plans and meals
  - name: Payments
    description: Payment processing
  - name: KPIs
    description: Key Performance Indicators for coaches

security:
  - BearerAuth: []

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check endpoint
      description: Returns the health status of the service
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  service:
                    type: string
                    example: backend
                  timestamp:
                    type: string
                    format: date-time

  /metrics:
    get:
      tags:
        - Health
      summary: Prometheus metrics endpoint
      description: Returns Prometheus-formatted metrics
      security: []
      responses:
        '200':
          description: Metrics data
          content:
            text/plain:
              schema:
                type: string

  /v1/auth/register:
    post:
      tags:
        - Auth
      summary: Register new user
      description: Create a new user account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecureP@ss123
                name:
                  type: string
                  example: John Doe
                role:
                  type: string
                  enum: [USER, COACH]
                  default: USER
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 123
                  email:
                    type: string
                    example: user@example.com
                  name:
                    type: string
                    example: John Doe
        '400':
          description: Invalid input
        '409':
          description: Email already exists

  /v1/auth/login:
    post:
      tags:
        - Auth
      summary: User login
      description: Authenticate user and return JWT tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: SecureP@ss123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: JWT access token
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  refreshToken:
                    type: string
                    description: JWT refresh token
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
                      email:
                        type: string
                        example: user@example.com
                      name:
                        type: string
                        example: John Doe
        '401':
          description: Invalid credentials

  /v1/coach/kpis:
    get:
      tags:
        - KPIs
      summary: Get coach KPIs
      description: Retrieve Key Performance Indicators for a coach
      security:
        - BearerAuth: []
      parameters:
        - name: x-coach-id
          in: header
          description: Coach ID (optional if authenticated)
          schema:
            type: integer
      responses:
        '200':
          description: KPIs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  coachId:
                    type: integer
                    example: 1
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                      end:
                        type: string
                        format: date-time
                  retention30d:
                    type: number
                    format: float
                    description: 30-day retention rate (0-1)
                    example: 0.86
                  activeTrainees:
                    type: integer
                    example: 128
                  mrr:
                    type: number
                    format: float
                    description: Monthly Recurring Revenue
                    example: 7420.00
                  arpu:
                    type: number
                    format: float
                    description: Average Revenue Per User
                    example: 58.0
                  sessionsBooked7d:
                    type: integer
                    description: Sessions booked in last 7 days
                    example: 214
                  churnRate:
                    type: number
                    format: float
                    description: Churn rate (0-1)
                    example: 0.042
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /graphql:
    post:
      tags:
        - GraphQL
      summary: GraphQL Gateway
      description: Execute GraphQL queries and mutations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: GraphQL query or mutation
                  example: |
                    query GetUser($id: ID!) {
                      user(id: $id) {
                        id
                        email
                        name
                      }
                    }
                variables:
                  type: object
                  description: Query variables
                  example:
                    id: "123"
                operationName:
                  type: string
                  description: Operation name (optional)
      responses:
        '200':
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Query result
                  errors:
                    type: array
                    description: GraphQL errors (if any)
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        path:
                          type: array
                          items:
                            type: string
                        extensions:
                          type: object

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /v1/auth/login

  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        error:
          type: string
          example: Bad Request
        timestamp:
          type: string
          format: date-time
        path:
          type: string
          example: /v1/auth/login

    User:
      type: object
      properties:
        id:
          type: integer
          example: 123
        email:
          type: string
          format: email
          example: user@example.com
        name:
          type: string
          example: John Doe
        role:
          type: string
          enum: [USER, COACH, ADMIN]
          example: USER
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ForbiddenError:
      description: User does not have permission to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFoundError:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ValidationError:
      description: Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
